# Project 2: Revamping the Basic Recommender System

In [30]:
import pandas as pd 
import numpy as np
import math
import csv

## Purpose

For this project, we took our existing Recommender system and Revamped it to analysis several different processes. First, we changed our normalization approach.

In [31]:
#Data file containing ratings data
f = open("data/Movies.txt")
text = csv.reader(f, delimiter = "\t")
ratings = list(text)
myMovieRatings = pd.DataFrame(ratings, columns = ["Movie_id", "Title"])
rate = [4,5,5,4,2,2,2,1,4,4,5,3,2,2,3,4,2,5,2,1]
myratings = pd.DataFrame(rate, columns =["Rating"])
dfs = [myMovieRatings,myratings]
myMovieRatings = pd.concat(dfs, axis = 1)

   Movie_id                                   Title  Rating
0        55                Professional, The (1994)       4
1        56                     Pulp Fiction (1994)       5
2        64        Shawshank Redemption, The (1994)       5
3        71                   Lion King, The (1994)       4
4        94                       Home Alone (1990)       2
5       102                  Aristocats, The (1970)       2
6       118                          Twister (1996)       2
7       133               Gone with the Wind (1939)       1
8       141     20,000 Leagues Under the Sea (1954)       4
9       168  Monty Python and the Holy Grail (1974)       4
10      173              Princess Bride, The (1987)       5
11      196               Dead Poets Society (1989)       3
12     1278                           Selena (1997)       2
13      928                       Craft, The (1996)       2
14      780                    Dumb & Dumber (1994)       3
15      651                            Glory (1989)       4
16      514                       Annie Hall (1977)       2
17      483                       Casablanca (1942)       5
18      432                         Fantasia (1940)       2
19      404                        Pinocchio (1940)       1

My goal at the end of this project would be to "guess" my rating of the Movies "Home Alone" and "Glory." I picked two none extreme choices to determine how well our code predicts the my ratings.

## Code:

### Opening and Cleaning Data

In [32]:
#Data file containing ratings data
f = open("data/u.data")
text = csv.reader(f, delimiter = "\t")
ratings = list(text)

# My Ratings of the movie Data (I left out the ones I wanted to "guess")
my_ratings = [4,5,5,4,0,2,2,1,4,4,5,3,2,2,3,0,2,5,2,1]

ratings_pd = pd.DataFrame(ratings, columns = ["user_id","movie_id", "rating","timestamp"])
ratings_pd = ratings_pd.drop(["timestamp"], 1)

movies = ratings_pd.pivot(index = "movie_id", columns = "user_id", values = "rating")

#Movie IDs
i = ['55','56','64','71','94','102','118','133','141','168','173','196','1278','928','780',
     '651','514','483','432','404']
movies = movies.loc[i,:]

#Random User IDs
l = ['13','128','201','207','222','23','234','246','267','268','269','276','493','642',
     '655','846','95','262','194','130','1']
movies = movies.loc[:,l]
movies = movies.fillna(value=0)

Notes On Movie Choices: 
The Movies we picked matched the ones up top and were picked at random (I perused the list looking for a smattering of various movies, it's just a toy set, that I hoped would have a diverse selection). However, the users we picked were "random." The truth was I first cut up the data set with just my movie choices, and then I picked the users that had the most reviews for my choices. I was going to code this, but I couldn't programmically figure this out. I be honest, I had problems with this and choosing the closest neighbors. In the end, I just "intuitively" (as in

### Processing Data: Item - Item Collobrative Filter

In [33]:
def Basic_Rec(movies, my_ratings,index):
    """
    Takes a Dataset (movies) of ratings, a list of ratings, 
    and the index of the requested movie you wish to "recommend"
    """
    movies_np = np.array(movies)
    movies_np = movies_np.astype(float)
    movies_np = np.insert(movies_np, 0, my_ratings, axis=1)
    mean_movie= []
    count_movie = []

    for row in movies_np:
    
        row_sum = np.sum(row)
        count = np.count_nonzero(row)
        count_movie.append(count)
        mean_movie.append(row_sum/count)

   
    count_user = []
    mean_user = []

    for row in movies_np.T:
        row_sum = np.sum(row)
        count = np.count_nonzero(row)
        count_user.append(count)
        mean_user.append(row_sum/count)

    
    movies_np[movies_np==0] = np.nan

    mean_cent = []
    i = 0
    for row in  movies_np:
        mean_cent.append(row - mean_movie[i]) 
        i += 1
    
    mean_cent = np.array(mean_cent)

    mean_cent = np.nan_to_num(mean_cent)
    U = []
 
    for row in mean_cent:
        y = 0
        for val in row:
            x = math.pow(val,2)
            y = y + x
        U.append(math.sqrt(y))

    num = np.dot(mean_cent,mean_cent.T)

    m = len(mean_cent.T[0])

    for i in range(m):
        for j in range(m):
            num[i,j] = num[i,j]/(U[i]*U[j])
        
    Sort = np.array(num[index])
    ind = Sort.argsort()[-3:][::-1]


    x1 = mean_cent[ind[1],0]
    x2 = mean_cent[ind[2],0]


    # Calculating A Global Estimate for any 0 Values
    movies_np = np.nan_to_num(movies_np)
    global_mean = np.sum(movies_np)/np.count_nonzero(movies_np)
    if x1 == 0:
        x1 = global_mean + (mean_user[0]-global_mean) + (mean_movie[ind[1]] - global_mean)
        x1 = x1 - mean_movie[ind[1]]
    if x2 == 0:
        x2 = global_mean + (mean_user[0]-global_mean) + (mean_movie[ind[2]] - global_mean)
        x2 = x2 - mean_movie[ind[2]]    


    Fin_Rating = mean_user[0] + ((x1 * Sort[ind[1]]) + (x2 * Sort[ind[2]]))/(Sort[ind[1]]+Sort[ind[2]])
    return Fin_Rating

In [34]:
Basic_Rec(movies, my_ratings,4)

1.808862892271248

In [35]:
Basic_Rec(movies, my_ratings,2)

3.016199985735422

In [36]:
calc_ratings = []
for i in range(20):
    calc_ratings.append(Basic_Rec(movies, my_ratings,i))
    
calc_ratings = pd.DataFrame(calc_ratings, columns =["Calc-Rating"])
dfs = [myMovieRatings,calc_ratings]
myMovieRatings = pd.concat(dfs, axis = 1)
myMovieRatings

   Movie_id                                   Title  Rating  Calc-Rating
0        55                Professional, The (1994)       4     2.483412
1        56                     Pulp Fiction (1994)       5     2.833848
2        64        Shawshank Redemption, The (1994)       5     3.016200
3        71                   Lion King, The (1994)       4     2.453312
4        94                       Home Alone (1990)       2     1.808863
5       102                  Aristocats, The (1970)       2     2.843482
6       118                          Twister (1996)       2     2.524113
7       133               Gone with the Wind (1939)       1     2.441165
8       141     20,000 Leagues Under the Sea (1954)       4     3.571516
9       168  Monty Python and the Holy Grail (1974)       4     2.714354
10      173              Princess Bride, The (1987)       5     3.528775
11      196               Dead Poets Society (1989)       3     2.325658
12     1278                           Selena (1997)       2     1.175945
13      928                       Craft, The (1996)       2     2.764191
14      780                    Dumb & Dumber (1994)       3     3.226915
15      651                            Glory (1989)       4     2.225246
16      514                       Annie Hall (1977)       2     0.577489
17      483                       Casablanca (1942)       5     2.742936
18      432                         Fantasia (1940)       2     0.920541
19      404                        Pinocchio (1940)       1     1.674304

It appears to be working, however, it doesn't seem to be the best recommender system.

### Referrences:

F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History and Context. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4, Article 19 (December 2015), 19 pages. http://dx.doi.org/10.1145/2827872 http://grouplens.org/datasets/movielens/